# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/

# Build
dist/
build/

# Runtime
*.pid
*.seed
*.pid.lock

# Coverage
coverage/

# Debug
debug.log

# Optional npm cache directory
.npm/

# Mac system files
*.DS_Store
